Package: liboce10
Version: [BUILD_VERSION]
Architecture: [ARCH]
Maintainer: Aleph Objects, Inc. <info@alephobjects.com>
Installed-Size: 100000
Depends: libc6 (>= 2.17), libgcc1 (>= 1:4.1.1), libstdc++6 (>= 4.4.0),
	libfreeimage3, libfreetype6 (>= 2.2.1), libx11-6, libxext6,
	libgl1-mesa-glx | libgl1, libglu1-mesa | libglu1, libgl2ps0
Section: libs
Priority: extra
Homepage: https://github.com/tpaviot/oce/wiki
Description: OpenCASCADE Community Edition CAE platform shared library
 OpenCASCADE is a suite for 3D surface and solid modeling, visualization, data
 exchange and rapid application development.  It is an excellent platform for
 development of numerical simulation software including CAD/CAM/CAE, AEC and
 GIS, as well as PDM applications.
 .
 This package is based on OCE, OpenCASCADE Community Edition, which is
 maintained by a community of developers, and not by OpenCASCADE SAS.
